body{
  background-color: black;
  color: white;
  font-family: Helvetica;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  text-align: center;
}


header{
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  background-color: black
  opacity:0.9;
  z-index: 10;
  width: 100%;
}

.mission{
  position: relative;
  padding: 70px;
}

.logo{
  height: 50px;
  margin:9.5 10;
}

nav{
  display: inline-block;
}

.mission .image{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
}

.mission .image span{
  background-color: black;
  width: 1200px;
  opacity: 100%;
  display: block;
  position: relative;
  color: white;
}


.totm{
  height: 200px;
  width: 300px;
}
 .teas{
   display: flex;
   width: 1000px;
   flex-wrap: wrap;
   justify-content: center;

 }

 .totm img{
   width: 300px;
   height: 200px;
   margin: 50px 10px
 }

 .locations{
   position: relative;
   background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
   height: 500px;
   width: 1200px;
   padding: 70px;
}

 .places{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

 }

 .address{
   text-align: center;
   background-color: black;
   justify-content: space-around;

 }

 footer{
   text-align: left;
 }
