body{
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
  align-items: center;
  text-align: center;
  margin: auto;
}

header{
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  background-color: black;
  opacity:0.9;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

nav{
  display: inline-block;
  margin-right: 10px;
}

a{
  color: seashell;
  
}

.mission{
  position: relative;
  padding: 70px;
}

.logo img{
  height: 50px;
  margin-left:10px;
  display: flex;
}

.mission .image{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  background-repeat: no-repeat;
}

.mission .image span{
  background-color: black;
  max-width: 1200px;
  opacity: 1;
  display: block;
  position: relative;
  color: white;
  top: 50%;
}

.month{
  max-width: 1000px;
  margin: auto;
}

.teas{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.totm img{
  width: 300px;
  height: 200px;
  margin: 5px;
}

.locations{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
  margin: auto;
}

.places{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.address{
  text-align: center;
  background-color: black;
  width: 300px;
  margin: 7.5px 20px;
  align-items: center;
  opacity: 1;
}

.contact{
  height: 200px;
}

footer{
  text-align: left;
  margin-left: 20px;
}
