body{
  background-color: black;
  color: white;
  font-family: Helvetica;
  font-size: 22px;
  align-items: center;
  text-align: center;
  margin: auto;
}

header{
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  background-color: black;
  opacity:0.9;
  z-index: 1;
  width: 100%;
}

nav{
  display: inline-block;

}

.mission{
  position: relative;
  padding: 70px;
}

.logo img{
  height: 50px;
  margin-left:10px;
  margin-top: auto;
  display: flex;
}

.mission .image{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  //width: 1200px;
  height: 700px;
}

.mission .image span{
  background-color: black;
  //width: 1200px;
  opacity: 100%;
  display: block;
  position: relative;
  color: white;
  top: 50%;

}

.month{
  //width: 1000px;
  margin: auto;
}

.teas{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.totm img{
  //width: 300px;
  height: 200px;
  margin: 5px;
}

.totm h3{
  margin: 5px;
}

.locations{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  background-repeat: no-repeat;
  height: 500px;
  //width: 1200px;
  margin: auto;
  background-position: center;
}

.places{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.address{
  text-align: center;
  background-color: black;
  width: 300px;
  margin: 15px 20px;
  align-items: center;
  opacity: 1;
}

.contact{
  height: 200px;
}

footer{
  text-align: left;
  margin-left: 20px;
}
